<div class="container">
    <div class="row">
        <div class="col-xl-3 text-center">
            <div class="card" style="width: 100%;">
                <img src="https://picsum.photos/500/325?random=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text-heigth">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum orci diam, eget
                        tincidunt tortor luctus a. Vivamus turpis quam, suscipit ac lacinia id, sollicitudin id arcu.</p>
                   
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-center">
            <div class="card" style="width: 100%;">
                <img src="https://picsum.photos/500/325?random=2" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text-heigth">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum orci diam, eget
                        tincidunt tortor luctus a. Vivamus turpis quam, suscipit ac lacinia id, sollicitudin id arcu.</p>
                   
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-center">
            <div class="card" style="width: 100%;">
                <img src="https://picsum.photos/500/325?random=3" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text-heigth">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum orci diam, eget
                        tincidunt tortor luctus a. Vivamus turpis quam, suscipit ac lacinia id, sollicitudin id arcu.</p>
                   
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 text-center">
            <div class="card" style="width: 100%;">
                <img src="https://picsum.photos/500/325?random=4" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text-heigth">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum orci diam, eget
                        tincidunt tortor luctus a. Vivamus turpis quam, suscipit ac lacinia id, sollicitudin id arcu.</p>
                   
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        
      
    </div>
</div>
