<div class="container">
    <div class="row mt-3">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">A Warm Welcome!</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget lorem quis est vehicula consectetur et sit amet ex.
                    Aenean ultricies placerat quam eget ullamcorper. Donec vel vestibulum nisl. In dignissim congue orci interdum feugiat.
                    Morbi sodales dictum tempus. Suspendisse scelerisque mauris at velit rhoncus porta. Vivamus imperdiet consequat est ut
                    posuere. Mauris sagittis ligula a ante faucibus, porttitor tristique erat viverra.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Call to action!</a>
            </div>
        </div>
    </div>
</div>